body {
    background-image:url(/images/irongrip.png);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

dialog#mainPage {
    top: 15%;
    opacity: 0.9;
}

dialog h1 {
    text-align: center;
    font-size: 60px;
    color: #330099;
}

input#roomField {
    border: 4px solid #a0a0a0;
    background: #f0f0f0;
    font-size: 28px;
}

button#goBtn {
    border: 2px solid #142900;
    background: #336600;
    color: #33cc33;
    font-size: 28px;
}
