#loginContent {
    position: absolute;
    padding: 15px 15px 15px 15px;
    top: 20%;
    left: 50%;
    
    /* If this value is modify, also modify margin-left as per the comments above margin-left.
     */
    width: 500px;

    height: auto;

    /* In order to correctly center this object, margin-left should be -width*0.5. In this case,
     * height is 500px so -width*0.5 is -250px.
     */
    margin-left: -250px;
}

#loginContent label {
    padding-right: 10px;
    color: #ffffff;
}

#loginContent input {
    background-color: #ffffff;

    /* This value might need to be modified...
     */
    width: 16em;
}

#loginContent input[disabled] {
    background-color: #e0e0e0;
}

#loginAlert {
    display: none;
}

#loginMsg {
    display: none;
}

#userGroup {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#roomGroup {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#btnGroup {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#btnGroup button {
    width: 100%;
}

.warning {
    background: #fdd;
    border-left: 5px solid #e44;
}

.mediumFnt {
    font-size: 1.5em;
}
